* {
    font-family: 'Lato', 'Righteous';
    margin: 0;
    padding: 0;
}

.lato {
    font-family: 'Lato';
}

.righteous {
    font-family: "Righteous";
}


.header_container {
    background-color: #4F5D75;
    display: flex;
    height: 100px;
    margin-bottom: 15px;
}

.title_container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.restau_name {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.restau_name span {
    color: #EF8354;
}

.nav_container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item_nav {
    color: white;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_nav:hover {
    transition: background-color 0.5s;
    background-color: #EF8354;
}

.dark_btn_container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark_btn_container button {
    text-transform: uppercase;
    background-color: #2D3142;
    border-top: solid white 2px;
    border-left: solid white 2px;
    border-right: solid gray 2px;
    border-bottom: solid gray 2px;
    border-radius: 10px;
    color: white;
    height: 30px;
    width: 50px;
}


/* main */

.table_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}

table {
    border: solid 1px gray;
}

table td {
    height: 25px;
    padding: 5px;
}

thead td {
    text-align: center;
    background-color: #4F5D75;
    color: white;
}

tbody td {
    border: solid 1px gray;
}

tfoot td {
    background-color: #4F5D75;
    color: white;
}


/* carte css */
.carte_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
}

.carte_container h2 {
    margin-bottom: 20px;
}

.carte_item {
    height: 50%;
    width: 90%;
    margin-bottom: 5px;
    display: flex;
    border-radius: 15px;
    text-align: center;
}

.carte_img {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    object-fit: cover;
}

.bcg_light_grey {
    background-color: #EAEBEB;
}

/* blog css */
.blog_container {
    width: 100%;
    margin-bottom: 30px;
}

.blog_item_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog_item {
    box-shadow: 1px 6px 21px 4px rgba(0, 0, 0, 0.25);
    height: auto;
    width: 80%;
    margin-top: 30px;
    text-align: center;
}

.blog_img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

/* footer */








/*desktop */

@media screen and (min-width:680px) {

    /* header */
    .header_container {
        height: 75px;
    }

    .nav_container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .dark_btn_container {
        justify-content: flex-end;
        margin-right: 10px;
    }

    .dark_btn_container button {
        border-top: solid gray 1px;
        border-left: solid gray 1px;
        border-right: solid black 1px;
        border-bottom: solid black 1px;
        height: 40px;
    }

    /* main*/

    /* blog */

    .blog_item_container {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }



    .blog_item {
        width: 40%;
    }

    .blog_img {
        height: 200px;
    }

    .blog_item h3 {
        margin-top: 2%;
    }

    .blog_item p {
        margin-top: 1.3%;
    }
}